<%= form_for @contact, :remote => true do |f| %>
  <% if @contact.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @contact.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%=f.hidden_field :user_id,:value=>current_user.id%>
  <fieldset>
    <legend>Full Name</legend>
    <p>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :middle_name %><br />
      <%= f.text_field :middle_name %>
    </p>
    <p>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </p>
  </fieldset>
  <p><%= link_to_add_fields "Add Addresses", f, :addresses %></p>
  <%= f.fields_for :addresses do |add| %>
    <%= render 'address_fields', :f => add %>
  <%  end %>
  <p><%= link_to_add_fields "Add Phone Numbers", f, :phone_numbers %></p>
  <%= f.fields_for :phone_numbers do |add| %>
    <%= render 'phone_number_fields', :f => add %>
  <%  end %>
  <%= f.file_field :avatar %>
  <p><%= f.submit "Save" %><input type="button" value="Cancel" name="commit" id="cancel_edit"></p>
<% end %>