<h1>Contact</h1>
<%= render "image" %>
<p>
  <strong>First Name:</strong>
  <%= @contact.first_name %>
</p>
<p>
  <strong>Middle Name</strong>
  <%= @contact.middle_name %>
</p>
<p>
  <strong>Last Name</strong>
  <%= @contact.last_name %>
</p>
<%i=1%>
<% for address in @contact.addresses %>
  <fieldset>
    <legend>Adreess <%=i%></legend>
    <p>
      <strong>Type</strong>
      <%= address.address_type.name if address.address_type%>
    </p>
    <p>
      <strong>Adreess</strong>
      <%= address.address %>
    </p>
    <p>
      <strong>Zip</strong>
      <%= address.zip %>
    </p>
    <p>
      <strong>City</strong>
      <%= address.city %>
    </p>
    <p>
      <strong>State</strong>
      <%= address.state %>
    </p>
    <p>
      <strong>Country</strong>
      <%= address.country %>
    </p>
    <%i+=1%>
  </fieldset>
<%end%>
<%j=1%>
<% for phone in @contact.phone_numbers %>
  <fieldset>
    <legend>Phone number <%=j%></legend>
    <p>
      <strong>Type</strong>
      <%= phone.phone_type.name if phone.phone_type %>
    </p>
    <p>
      <strong>phone</strong>
      <%= phone.full_number %>
    </p>

    <%j+=1%>
  </fieldset>
<%end%>
<p>
  <%= link_to "Edit", edit_contact_path(@contact),:id=>"edit_c" %> |
  <%= link_to "Destroy", @contact, :confirm => 'Are you sure?', :method => :delete,:id=>"delete_c" %> |
  <%= link_to "Export", view_contacts_path(:id=>@contact.id) %>
</p>
