<%= form_for @list, :remote => true do |f| %>
   <div id= "post_errors" style="display:none"></div>
    <%=f.hidden_field :user_id,:value=>current_user.id%>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p><%= f.submit "Save" %><input type="button" value="Cancel" name="commit" id="cancel_edit"></p>
<% end %>
