<h1>Lists</h1>

<%= form_tag lists_path, :method => 'get', :id => "lists_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="lists"><%= render 'lists' %></div>
<% end %>



<p><%= link_to "New List", new_list_path %></p>
