<h1>List</h1>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
<p>
  <strong>Created</strong>
  <%= @list.created_at.strftime("%B %e, %Y") %>
</p>

<p>
  <%= link_to "Edit", edit_list_path(@list) %> |
  <%= link_to "Destroy", @list, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", lists_path %>
</p>
